{% extends "menu.html" %}

{% block titulo %} Mi galería {% endblock %}

{% block contenido %}

<h1>Mi galería</h1>

Aqui encontraras los libros que has rentado en nuestra biblioteca y los libros que ya has entregado
<br><br>

<div class="card">
  <div class="card-header">
    <h5>Libros Rentados</h5>
  </div>
  <div class="card-body">
    <!-- <h4 class="card-title">Libros disponibles</h4> -->

    <div class="table-responsive">
      <table class="table table-warning">
        <thead>
          <tr>
            <th scope="col">TITULO</th>
            <th scope="col">AUTOR</th>
            <th scope="col">AÑO DE PUBLICACIÓN</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          {% if libro_alquilado %}
          {% for libro in libro_alquilado %}
            <tr>
              <td>{{ libro.id_libro.titulo }}</td>
              <td>{{ libro.id_libro.autor }}</td>
              <td>{{ libro.id_libro.fecha }}</td>
              <td>
                <div id="acciones" style="display: flex;">
                  <button class="btn btn-secondary descripcion m-2" type="button"
                  data-descripcion="{{libro.id_libro.id_libro}}">Descripción</button>
                  <a type="button" href="{% url 'devolver' libro.id_libro_usuario %}" class="btn btn-dark m-2">Devolver libro</a>
                  </div>
              </td>
            </tr>

            {% endfor %}
            {% else %}
            <tr>
              <td colspan="4"><p style="text-align:center;">No hay libros alquilados.</p></td>
            </tr>
            {% endif %}
        </tbody>
      </table>
    </div>
    <a type="button" href="{% url 'devolver_todo' %}" class="btn btn-danger">Devolver todos los libros</a>


  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<br><br><br>
<div class="card">
  <div class="card-header">
    <h5>Libros Devueltos</h5>
  </div>
  <div class="card-body">
    <!-- <h4 class="card-title">Libros disponibles</h4> -->

    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">TITULO</th>
            <th scope="col">AUTOR</th>
            <th scope="col">AÑO DE PUBLICACIÓN</th>
          </tr>
        </thead>
        <tbody>
          {% if libro_devuelto %}
          {% for libro in libro_devuelto %}
          <tr>
            <td>{{ libro.id_libro.titulo }}</td>
            <td>{{ libro.id_libro.autor }}</td>
            <td>{{ libro.id_libro.fecha }}</td>
          </tr>
          {% endfor %}
            {% else %}
            <tr>
              <td colspan="4"><p style="text-align:center;">No hay libros Devueltos.</p></td>
            </tr>
            {% endif %}
        </tbody>
      </table>
    </div>


  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<!-- Modal para ver la descripción de un libro -->
<div id="seccionIdLibro2">
  <div class="modal" tabindex="-1" id="modal_descripcion">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Descripción del libro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" value="{{ des.value | default:'' }}">
          <textarea readonly class="form-control" name="descripcion" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
{% block script %}

<script>

  $(document).on('click', '.descripcion', function () {
    let id = $(this).attr('data-descripcion')
    $.ajax({
      url: '/descripcion/' + id,
      type: 'GET',
      dataType: 'json',
      success: function (response) {
        $('textarea[name="descripcion"]').val(response.descripcion);
        $('#modal_descripcion').modal('show')
      },
      error: function (error) {
        // Maneja el error aquí
      }
    });
  });

</script>

{% endblock %}

{% endblock %}